<div class="row">
    <label for="attr" class="col-md-2 control-label">Name</label>
    <div class="col-md-2">
        <input type="text" class="form-control" ng-model="personName">
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary" ng-click="search()">Search</button>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">Name: {{person.name}}</li>
            <li class="list-group-item">Age: {{person.age}}</li>
            <li class="list-group-item">Address: {{person.address}}</li>
        </ul>
    </div>
</div>